<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item>
      <ion-thumbnail  slot="start">
        <img id="logo" src="assets/netflix-logo.png">
      </ion-thumbnail>
      <ion-title>Movies</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/peppermint.jpg">
    </ion-thumbnail>
    <ion-label>Peppermint</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/extraction.jpg">
    </ion-thumbnail>
    <ion-label>Extraction</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/the-take.jpg">
    </ion-thumbnail>
    <ion-label>The Take</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/project-power.jpg">
    </ion-thumbnail>
    <ion-label>Project Power</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/the-old-guard.jpg">
    </ion-thumbnail>
    <ion-label>The Old Guard</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/the-princess-switch.jpg">
    </ion-thumbnail>
    <ion-label>The Princess Switch</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/we-can-be-heroes.jpg">
    </ion-thumbnail>
    <ion-label>We Can Be Heroes</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/a-haunted-house-2.jpg">
    </ion-thumbnail>
    <ion-label>A Haunted House 2</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/all-the-bright-places.jpg">
    </ion-thumbnail>
    <ion-label>All The Bright Places</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/the-woman-in-the-window.jpg">
    </ion-thumbnail>
    <ion-label>The Woman in the Window</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/the-equalizer-2.jpg">
    </ion-thumbnail>
    <ion-label>The Equalizer 2</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/resident-evil.jpg">
    </ion-thumbnail>
    <ion-label>Resident Evil</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/the-dirt.jpg">
    </ion-thumbnail>
    <ion-label>The Dirts</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/the-conjuring-2.jpg">
    </ion-thumbnail>
    <ion-label>The Conjuring 2</ion-label>
  </ion-item>
</ion-content>
