<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-item>
        <ion-thumbnail slot="start">
          <img id="logo" src="assets/netflix-logo.png">
        </ion-thumbnail>
      </ion-item>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Netflix</ion-card-title>
            <ion-card-subtitle>Production Company</ion-card-subtitle>
            
          </ion-card-header>
          <img src="assets/netflix-bg.jpg">
          <ion-card-content>
            Netflix is a subscription-based streaming service that allows our members to watch TV shows and movies without commercials on an internet-connected device.   
          </ion-card-content>
          <ion-card-content>
            Netflix, Inc. is an American pay television over-the-top media service and original programming production company. It offers subscription-based video on demand from a library of films and television series, 40% of which is Netflix original programming produced in-house.
          </ion-card-content>
          <ion-card-content>
            You can also download TV shows and movies to your iOS, Android, or Windows 10 device and watch without an internet connection.
          </ion-card-content>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>
            <ion-card-title>TV Shows & Movies</ion-card-title>
          </ion-card-header>
          <img src="assets/netflix-bg-2.jpg">
          <ion-card-content>
            Netflix content varies by region and may change over time. You can watch from a wide variety of award-winning Netflix Originals, TV shows, movies, documentaries, and more.   
          </ion-card-content>
          <ion-card-content>
            The more you watch, the better Netflix gets at recommending TV shows and movies we think you’ll enjoy.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>
